main {
    border: 2px solid black;
    height: 660px;
    width: 1100px;
    margin: auto;
}

header{
    border: 2px solid black;
    height: 110px;
    text-align: center; 
}

nav{
    border: 2px solid black;
    height: 70px;
    margin: 3px 0px 3px 0px;
}

section{
    border: 2px solid black;
    height: 430px;
    padding: 3px;
}

footer{
    border: 2px solid black;
    height: 25px;
}

aside{
    border: 2px solid black;
    height: 425px;
    width: 399px;
    float: left;
}

article{
    border: 2px solid black;
    height: 139px;
    width: 680px;
    float: right;
}

article{
    border: 2px solid black;
    height: 139px;
    width: 680px;
    float: right;
}

article{
    border: 2px solid black;
    height: 139px;
    width: 680px;
    float: right;
}

nav ul li{
    border: 2px solid black;
    width: 100px;
    display: inline-block
    ;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}

header img{
    width: 100px;
    height: 100px;
    margin: 5px;
}