main {
    border: 1px solid red;
    height: 630px;
    width: 1100px;
    margin: auto;
}

header{
    border: 1px solid blue;
    height: 100px;
}

nav{
    border: 1px solid blue;
    height: 50px;
}

section{
    border: 1px solid blue;
    height: 420px;
}

footer{
    border: 1px solid red;
    height: 50px;
}